---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<GEOCODING_API_KEY>&location=invalid%20city
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 22 Jan 2021 17:56:26 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"invalid
        city"},"locations":[{"street":"Strada Invalid Suliga","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Bucure\u0219ti","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Bucure\u0219ti","adminArea3Type":"State","adminArea1":"RO","adminArea1Type":"Country","postalCode":"023065,
        023066, 023067, 023068","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"RO/STR/p0/213891","unknownInput":"","type":"s","latLng":{"lat":44.47272,"lng":26.15959},"displayLatLng":{"lat":44.47272,"lng":26.15959},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<GEOCODING_API_KEY>&type=map&size=225,160&locations=44.47272,26.15959|marker-sm-50318A-1&scalebar=true&zoom=15&rand=1791084558"},{"street":"Poselok
        SNT Invalid","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Opol''Yevskoye","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Severo-Zapadnyy
        Federal''nyy Okrug","adminArea3Type":"State","adminArea1":"RU","adminArea1Type":"Country","postalCod[...]
