---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API_KEY>&exclude=minutely,alerts&lat=34.052238&lon=-118.243344
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":34.0522,"lon":-118.2433,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1611338159,"sunrise":1611327340,"sunset":1611364399,"temp":287.57,"feels_like":285.75,"pressure":1017,"humidity":67,"dew_point":281.53,"uvi":1.93,"clouds":40,"visibility":10000,"wind_speed":2.06,"wind_deg":0,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1611334800,"temp":287.57,"feels_like":284.73,"pressure":1017,"humidity":67,"dew_point":281.53,"uvi":1.04,"clouds":40,"visibility":10000,"wind_speed":3.52,"wind_deg":141,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1611338400,"temp":288.43,"feels_like":285.39,"pressure":1016,"humidity":65,"dew_point":281.9,"uvi":1.93,"clouds":63,"visibility":10000,"wind_speed":3.94,"wind_deg":157,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1611342000,"temp":289.4,"feels_like":285.71,"pressure":1015,"humidity":56,"dew_point":280.62,"uvi":2.79,"clouds":78,"visibility":10000,"wind_speed":4.43,"wind_deg":172,"weather":[{"id":803,"main":"Clouds","description"[...]
