---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API_KEY>&exclude=current,minutely,daily,alerts&lat=38.265425&lon=-104.610415
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-25200,"hourly":[{"dt":1611334800,"temp":274.04,"feels_like":270.16,"pressure":1016,"humidity":51,"dew_point":265.95,"uvi":1.58,"clouds":1,"visibility":10000,"wind_speed":1.4,"wind_deg":143,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1611338400,"temp":275.85,"feels_like":271.89,"pressure":1015,"humidity":58,"dew_point":268.96,"uvi":2.27,"clouds":19,"visibility":10000,"wind_speed":1.97,"wind_deg":156,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1611342000,"temp":278.3,"feels_like":274.16,"pressure":1013,"humidity":56,"dew_point":270.59,"uvi":2.5,"clouds":37,"visibility":10000,"wind_speed":2.52,"wind_deg":153,"weather":[{"id":802,"main":"Clouds","description":"s[...]
