---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<GEOCODING_API_KEY>&location=Hdyefw%3Blib,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 29 Jan 2021 21:48:10 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Hdyefw;lib,CO"},"locations":[{"street":"Lib
        Lane & County Road 26","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Ragland","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"AL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"35131","geocodeQualityCode":"I1CCA","geocodeQuality":"INTERSECTION","dragPoint":false,"sideOfStreet":"N","linkId":"US/XSTR/p0/2893920","unknownInput":"","type":"s","latLng":{"lat":33.76422,"lng":-86.23267},"displayLatLng":{"lat":33.76422,"lng":-86.23267},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<GEOCODING_API_KEY>&type=map&size=225,160&locations=33.76422,-86.23267|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-1502327634"},{"street":"Sara
        Lib Road & Esperance Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Esp\u00E9rance","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"12066","geocodeQualityC[...]
