---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API_KEY>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611946811,"sunrise":1611929415,"sunset":1611965750,"temp":282.39,"feels_like":279.65,"pressure":1006,"humidity":49,"dew_point":272.35,"uvi":2.64,"clouds":4,"visibility":10000,"wind_speed":0.89,"wind_deg":45,"wind_gust":1.79,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1611946800,"temp":282.39,"feels_like":278.91,"pressure":1006,"humidity":49,"dew_point":272.35,"uvi":2.64,"clouds":4,"visibility":10000,"wind_speed":1.95,"wind_deg":193,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1611950400,"temp":282.91,"feels_like":279.78,"pressure":1006,"humidity":47,"dew_point":272.26,"uvi":2.34,"clouds":24,"visibility":10000,"wind_speed":1.43,"wind_deg":218,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1611954000,"temp":283.42,"feels_like":280.12,"pressure":1004,"humidity":45,"dew_point":272.15,"uvi":1.64,"clouds":39,"visibility":10000,"wind_speed":1.65,"wind_deg":269,"weather":[{"id":802,"main":"Clouds","description":[...]
