---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API_KEY>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611338154,"sunrise":1611324924,"sunset":1611360451,"temp":277.65,"feels_like":273.96,"pressure":1009,"humidity":36,"dew_point":264.9,"uvi":1.94,"clouds":4,"visibility":10000,"wind_speed":0.99,"wind_deg":192,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1611334800,"temp":277.65,"feels_like":273.96,"pressure":1009,"humidity":36,"dew_point":264.9,"uvi":1.34,"clouds":4,"visibility":10000,"wind_speed":0.99,"wind_deg":192,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1611338400,"temp":278.16,"feels_like":274.81,"pressure":1011,"humidity":46,"dew_point":268.15,"uvi":1.94,"clouds":4,"visibility":10000,"wind_speed":0.96,"wind_deg":150,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1611342000,"temp":279.49,"feels_like":276.44,"pressure":1011,"humidity":47,"dew_point":269.49,"uvi":2.15,"clouds":1,"visibility":10000,"wind_speed":0.76,"wind_deg":92,"weather":[{"id":800,"main":"Clear","description":"clear[...]
