---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API_KEY>&exclude=current,minutely,daily,alerts&lat=33&lon=-94
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33,"lon":-94,"timezone":"America/Chicago","timezone_offset":-21600,"hourly":[{"dt":1611334800,"temp":283.7,"feels_like":281.1,"pressure":1016,"humidity":95,"dew_point":282.93,"uvi":2.34,"clouds":100,"visibility":10000,"wind_speed":3.7,"wind_deg":53,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1611338400,"temp":284.74,"feels_like":281.76,"pressure":1016,"humidity":83,"dew_point":281.95,"uvi":2.79,"clouds":94,"visibility":10000,"wind_speed":3.88,"wind_deg":67,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1611342000,"temp":286.33,"feels_like":283.31,"pressure":1016,"humidity":73,"dew_point":281.6,"uvi":1.57,"clouds":22,"visibility":10000,"wind_speed":3.81,"wind_deg":67,"weather":[{"id":801,"main":"Clouds","description[...]
