---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<PHOTO_API_KEY>&query=hfewyegheh%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Fri, 22 Jan 2021 17:56:31 GMT
recorded_with: VCR 6.0.0
